.container {
  display: flex;
  padding: 16px;
}

.listsColumn {
  width: 30%;
  padding: 16px;
  border-right: 1px solid #ddd;
  border-radius: 15px !important;
  margin-right: 15px;
}

.booksColumn {
  width: 70%;
  padding: 16px;
  border-radius: 15px !important;
}

.listItem {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.listItem:hover {
  background-color: #f0f0f0;
}

.listItem.selected {
  font-weight: bold;
}

.bookList {
  list-style-type: none;
  padding: 0;
}

.bookItem {
  padding: 8px 0;
}
